---
---

@import "{{site.theme}}";
.adsense-skyscrapper {
  display: none;
}
@media screen and (min-width: 1200px) {
  .adsense-skyscrapper {
    display: block;
    position: fixed;
    right: 20px;
    top: 22vh;
  }
}
