---
---

@import "{{site.theme}}";
.adsense-skyscrapper {
  display: none;
}
@media screen and (min-width: 1400px) {
  .adsense-skyscrapper {
    display: block !important;
    position: fixed;
    right: 5px;
    top: 22vh;
  }
}
